.wrapper {
    position: relative;
}

.input {
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 20px 10px 45px;
    width: 300px;
    transition: all .2s linear;

    &:focus {
        border-color: rgba($color: #000000, $alpha: 0.5);
    }
}

.search {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .3;
}

.close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .3;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }
}